<!-- Header section starts -->
<section>
    <nav class="container md:container md:mx-auto">
        <h1>Weather app</h1>
        <ul class="flex">
            <li><a href="/">Home</a></li>
            <li><a href="/help">Help</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/weather">Weather</a></li>
        </ul>
    </nav>
</section>
<!-- Header section ends -->
